/* variables */
:root {
    font: 400 16px 'Open Sans';
    scroll-behavior: smooth;
    --main-width: 1249px;
    --light-grey: #E0E0E0;
    --grey: #B8B8B8;
    --dark-grey: #2C2C2C;
    --red: #FF2D2D;
    --light-red: #FF3F40;
}

/* base container for all page content */
.page {
    display: flex;
    min-width: 100%;
    align-items: center;
    flex-direction: column;
}

/* header */
.page__container_grey {
    min-width: 100%;
    padding-top: 29px;
    background-color: var(--light-grey);
    padding-bottom: 110px;
    margin-bottom: 63px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--main-width);
    min-height: 89px;
    margin: 0 auto 103px;
    background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 570px) {
    .header {
        position: fixed;
        z-index: 1;
    }

    .page__container_grey {
        padding-top: 0;
    }

    .intro {
        padding-top: 120px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.header__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    min-height: 89px;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font: 700 16px 'Open Sans';
    color: var(--light-grey);
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link:hover {
    background-color: var(--light-red);
}

.menu__link_active {
    background-color: var(--light-red);
}

/* popup menu */
.popup-menu__button {
    display: none;
    min-width: 140px;
    height: 50px;
    background-color: #FFF;
    border-radius: 20px;
}

@media (max-width: 570px) {
    .popup-menu__button {
        display: block;
    }

    .menu {
        border: 0;
        clip: rect(0 0 0 0);
        position: absolute;
    }
}

.popup-menu__list {
    visibility: visible;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: black;
    transition: visibility, transform 1s, 0.5s ease-in-out;
}

@media (min-width: 570px) {
    .popup-menu__list {
        visibility: hidden;
    }
}

.hide-popup {
    transform: translateY(-50px);
    visibility: hidden;
}

.popup-menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 89px;
}

.popup-menu__item:hover {
    background-color: var(--light-red);
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* main */
/* intro section */
.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto;
}

@media (min-width: 800px) and (max-width: 1249px) {
    .intro {
        flex-wrap: nowrap;
    }
}

.intro__info {
    max-width: 595px;
}

@media (max-width: 1249px) {
    .intro__info {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .intro__info {
        width: 100%;
        margin-bottom: 80px;
    }
}

.intro__heading {
    font: 800 60px/72px 'Open Sans';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: -15px 0 19px;
}

.intro__special {
    letter-spacing: 7px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.text {
    font: 400 16px/28px 'Open Sans', normal;
    margin-bottom: 57px;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    font: 700 18px 'Open Sans';
    text-decoration: none;
    color: #fff;
    background-color: var(--red);
    border-radius: 5px;
}

.intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -3px -14px 73px rgba(0, 0, 0, .3);
}

@media (max-width: 1249px) {
    .intro__video {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .intro__video {
        width: 100%;
    }
}

.page__container {
    width: 100%;
    max-width: var(--main-width);
}

/* services section */
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto 142px;
}

@media (max-width: 1175px) {
    .services {
        justify-content: space-around;
    }
}

.services::after {
    width: 99%;
    max-width: var(--main-width);
    content: '';
    position: absolute;
    top: 115%;
    background-color: var(--red);
    border: solid 1px var(--grey);
}

.services__info {
    max-width: 549px;
}

.services__heading {
    margin-bottom: 32px;
    font: 700 42px/55px 'Open Sans';
    letter-spacing: .5px;
    text-transform: uppercase;
}

.action-button_white {
    color: var(--red);
    background-color: #fff;
    border: solid 2px;
    border-radius: 5px;
}

.services__items {
    display: grid;
    align-items: center;
    width: 100%;
    max-width: 610px;
    margin-top: 45px;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(280px, 1fr));
    grid-row-gap: 26px;
    grid-column-gap: 20px;
}

.service-item {
    margin: auto;
    width: 90%;
}

.service-heading {
    font: 700 24px 'Open Sans';
    margin-bottom: -10px;
}

.service-caption {
    line-height: 28px;
}

/* products section */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 117px;
}

.section-heading {
    margin-bottom: 103px;
    position: relative;
}

.section-heading::after {
    width: 128px;
    content: '';
    position: absolute;
    left: 0;
    top: 130%;
    background-color: var(--red);
    border: solid 1px var(--red);
}

.section-heading_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
}

.section-heading_center::after {
    left: 39%;
    top: 118%;
}

.products__heading {
    font: 700 42px 'Open Sans';
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.products__info {
    margin: 0;
    max-width: 590px;
    text-align: center;
    line-height: 28px;
}

.products__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.product-category {
    display: flex;
    padding: 0 28px;
    font: 700 22px 'Open Sans';
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.product-category:hover {
    background-color: unset;
    color: var(--red);
}

.product-category_active {
    color: var(--red);
}

.products__images {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(310px, 1fr));
    grid-row-gap: 10px;
}

.product-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

/* team section */
.team {
    margin-bottom: 128px;
}

.team__members {
    display: grid;
    grid-template: repeat(2, auto) / 395px auto;
}

.team__info-wrapper {
    grid-area: 1 / 2 / 2 / 3;
}

.team__heading {
    font-size: 42px;
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.team__info {
    width: 100%;
    max-width: 450px;
    line-height: 28px;
}

.team__member_main {
    background-color: rgb(193, 255, 252);
    grid-area: 1 / 1 / 3 / 2;
}

.member-name {
    margin-top: 7px;
    margin-bottom: 0;
    font: 600 30px 'Open Sans';
    text-transform: uppercase;
    letter-spacing: .2px;
}

.member-info {
    width: 100%;
    max-width: 640px;
    line-height: 28px;
    margin-bottom: 40px;
}

.team__menu {
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.social-link {
    padding-right: 40px;
    font: italic 400 18px 'Open Sans';
    color: #000;
    text-decoration: none;
}

.social-link:hover {
    color: var(--red);
}

.member {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: rgb(220, 255, 155);
    position: relative;
}

.member:nth-child(2n) {
    background-color: rgb(255, 237, 155);
}

.member:hover>.member__name {
    visibility: visible;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    margin: 0;
    background-color: rgba(0, 0, 0, .5);
}

.team__list {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(200px, auto));
    grid-gap: 10px;
    grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 840px) {
    .team__members {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .team__member_main {
        justify-self: center;
        grid-row: 1 / 2;
        margin-bottom: 20px;
    }

    .team__info-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .team__list {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

/* subscription section */
.page__container_dark {
    min-width: 100%;
    background-color: var(--dark-grey);
}

.subscription {
    padding: 100px 0 144px 0;
}

.subscription__heading {
    font: 700 42px 'Open Sans';
    letter-spacing: 1.05px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.subscription__info {
    margin-top: 0;
    margin-bottom: 60px;
    color: #fff;
    text-align: center;
}

.subscription__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.subscription__email-input {
    box-sizing: border-box;
    width: 524px;
    height: 82px;
    margin-right: 20px;
    padding-left: 38px;
    border: none;
    border-radius: 7px;
    letter-spacing: .4px;
}

@media (max-width: 777px) {
    .subscription__email-input {
        margin-bottom: 20px;
    }
}

.action-button_thicker {
    width: 217px;
    height: 82px;
    border: none;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* contacts section */
.page__container_right {
    min-width: 91%;
    margin-left: 9%;
}

@media (max-width: 1388px) {
    .page__container_right {
        min-width: 100%;
        margin: unset;
    }
}

.contacts {
    padding: 53px 0 110px;
}

.contacts__heading {
    font-size: 42px;
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.contacts__info {
    width: 100%;
    max-width: 760px;
    line-height: 28px;
}

.contacts__grid-container {
    display: grid;
    grid-template: 70px 250px 70px / 340px 340px 1fr;
    grid-gap: 46px;
}

@media (max-width: 1230px) {
    .contacts__grid-container {
        width: 90%;
        margin: auto;
        grid-template: 70px 250px 70px 390px / 1fr 1fr;
    }
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    padding: 0 38px;
    border: none;
    border-radius: 7px;
    letter-spacing: .4px;
    background-color: #E6E6E6;
}

@media (max-width: 1230px) {
    .input {
        margin-right: 0;
    }
}

.input::placeholder {
    color: #000;
}

.contacts__message-input {
    grid-area: 2 / 1 / 2 / 3;
    padding-top: 32px;
    resize: none;
}

.action-button_wider {
    width: 100%;
    grid-area: 3 / 1 / 4 / 3;
    border: none;
    text-transform: uppercase;
}

.contacts__verbose-info {
    grid-area: 1 / 3 / 4 / 3;
    margin-left: 62px;
    padding-left: 80px;
    padding-top: 122px;
    color: #fff;
    background-color: var(--dark-grey);
}

@media (max-width: 1230px) {
    .contacts__verbose-info {
        grid-area: 4 / 1 / 5 / 3;
        margin: unset;
    }
}

.verbose-info__content {
    width: 300px;
}

@media (max-width: 1230px) {
    .contacts__verbose-info {
        padding-left: 30px;
    }
}

.verbose-info__heading {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.verbose-info__address {
    line-height: 28px;
    margin-bottom: 22px;
}

.verbose-info__email {
    display: block;
    margin-bottom: 27px;
    color: #FFF;
    text-decoration: none;
}

.verbose-info__telephone {
    color: #FFF;
    text-decoration: none;
}

/* footer */
.footer {
    display: flex;
    height: 113px;
    padding: 0 260px 0 135px;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    color: var(--grey);
}

.socials__menu>li {
    margin: 0 9px;
}

@media (max-width: 1230px) {
    .footer {
        padding: 0 20px 0 20px;
    }
}