/* variables */
:root {
    font: 400 16px 'Open Sans';
    --main-width: 1249px;
    --light-grey: #E0E0E0;
    --dark-grey: #2C2C2C;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

/* base container for all page content */
.page {
    min-width: 100%;
    align-items: center;
    flex-direction: column;
}

/* header */
.page__container_grey {
    min-width: 100%;
    padding-top: 29px;
    background-color: var(--light-grey);
    padding-bottom: 110px;
    margin-bottom: 63px;
}

.header {
    justify-content: center;
    width: var(--main-width);
    min-height: 89px;
    margin: 0 auto 103px;
    background-color: rgba(0, 0, 0, .8);
}

.menu {
    list-style: none;
}

.header__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.menu__item {
    min-height: 89px;
}

.menu__link {
    align-items: center;
    padding: 0 30px;
    font: 700 16px 'Open Sans';
    color: var(--light-grey);
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link:hover {
    background-color: #ff3f40;
}

.menu__link_active {
    background-color: #FF3F40;
}

/* main */
/* intro section */
.intro {
    justify-content: space-between;
    width: var(--main-width);
    margin: 0 auto;
}

.intro__info {
    max-width: 595px;
}

.intro__heading {
    font: 800 60px/72px 'Open Sans';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: -15px 0 19px;
}

.intro__special {
    letter-spacing: 7px;
}

.text {
    font: 400 16px/28px 'Open Sans', normal;
    margin-bottom: 57px;
}

.action-button {
    justify-content: center;
    align-items: center;
    width: 227px;
    min-height: 55px;
    font: 700 18px 'Open Sans';
    text-decoration: none;
    color: #fff;
    background-color: #FF2D2D;
    border-radius: 5px;
}

.intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -3px -14px 73px rgba(0, 0, 0, .3);
}

.page__container {
    width: var(--main-width);
}

/* services section */
.services {
    margin: 0 auto 85px;
    justify-content: space-between;
}

.services__info {
    max-width: 549px;
}

.services__heading {
    margin-bottom: 32px;
    font: 700 42px/55px 'Open Sans';
    letter-spacing: .5px;
    text-transform: uppercase;
}

.action-button_white {
    color: #FF2D2D;
    background-color: #fff;
    border: solid 2px;
    border-radius: 5px;
}

.services__items {
    width: 610px;
    margin-top: 45px;
    grid-template: repeat(2, 1fr) / 50% 50%;
    grid-row-gap: 26px;
    grid-column-gap: 20px;
}

.service-item {
    width: 303px;
}

.service-heading {
    font: 700 24px 'Open Sans';
    margin-bottom: -10px;
}

.service-caption {
    line-height: 28px;
}

.separator {
    width: var(--main-width);
    margin-bottom: 58px;
}

/* products section */
.products {
    flex-direction: column;
    align-items: center;
    margin-bottom: 117px;
}

.products__heading {
    font: 700 42px 'Open Sans';
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.products__info {
    position: relative;
    margin: 0;
    max-width: 590px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 115px;
}

.products__info::after {
    width: 128px;
    content: '';
    position: absolute;
    left: 39%;
    top: 85px;
    background-color: #FF2D2D;
    border: solid 1px #FF2D2D;
}

.products__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.product-category {
    padding: 0 28px;
    font: 700 22px 'Open Sans';
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.product-category:hover {
    background-color: unset;
    color: #FF2D2D;
}

.product-category_active {
    color: #FF2D2D;
}

.products__images {
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    grid-gap: 10px;
}

/* team section */
.team {
    margin-bottom: 128px;
}

.team__heading {
    font-size: 42px;
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.team__info {
    position: relative;
    width: 450px;
    line-height: 28px;
    margin-bottom: 103px;
}

.team__info::after {
    width: 128px;
    content: '';
    position: absolute;
    left: 0;
    top: 115px;
    background-color: #FF2D2D;
    border: solid 1px #FF2D2D;
}

.team__member_main {
    float: left;
    margin-right: 76px;
}

.member-name {
    margin-top: 110px;
    font: 600 30px 'Open Sans';
    text-transform: uppercase;
    letter-spacing: .2px;
    margin-bottom: 16px;
}

.member-info {
    width: 1030px;
    line-height: 28px;
    margin-bottom: 40px;
}

.members__menu {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.social-link {
    align-items: center;
    padding-right: 40px;
    font: italic 400 18px 'Open Sans';
    color: #000;
    text-decoration: none;
}

.social-link:hover {
    color: #FF2D2D;
}

.members__list {
    grid-template: 1fr / repeat(4, 25%);
    grid-gap: 10px;
}

/* subscription section */
.page__container_dark {
    min-width: 100%;
    padding-top: 108px;
    background-color: var(--dark-grey);
    padding-bottom: 110px;
    margin-bottom: 30px;
}

.subscription {
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
}

.subscription__heading {
    font: 700 42px 'Open Sans';
    letter-spacing: 1.05px;
    color: #fff;
    margin-bottom: 10px;
}

.subscription__info {
    margin-top: 0;
    margin-bottom: 60px;
    color: #fff;
}

.subscription__form {
    flex-direction: row;
    align-items: center;
}

.subscription__email-input {
    box-sizing: border-box;
    width: 524px;
    height: 82px;
    margin-right: 20px;
    padding-left: 38px;
    border: none;
    border-radius: 7px;
    letter-spacing: .4px;
}

.action-button_thicker {
    width: 217px;
    height: 82px;
    border: none;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

/* contacts section */
.page__container_right {
    min-width: 91%;
    margin-left: 9%;
    padding-top: 29px;
    padding-bottom: 110px;
    margin-bottom: 63px;
}

.contacts {
    flex-direction: column;
}

.contacts__heading {
    font-size: 42px;
    letter-spacing: .4px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.contacts__info {
    position: relative;
    width: 760px;
    line-height: 28px;
    margin-bottom: 130px;
}

.contacts__info::after {
    width: 128px;
    content: '';
    position: absolute;
    left: 0;
    top: 137px;
    background-color: #FF2D2D;
    border: solid 1px #FF2D2D;
}

.contacts__grid-container {
    grid-template: 70px 250px 70px / 340px 340px calc(100% - 340px * 2 - 46px * 2);
    grid-gap: 46px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    padding-left: 38px;
    border: none;
    border-radius: 7px;
    letter-spacing: .4px;
    background-color: #E6E6E6;
}

.input::placeholder {
    color: #000;
}

.contacts__message-input {
    grid-area: 2 / 1 / 2 / 3;
}

.action-button_wider {
    width: 100%;
    grid-area: 3 / 1 / 4 / 3;
    border: none;
    text-transform: uppercase;
}

.contacts__verbose-info {
    grid-area: 1 / 3 / 4 / 3;
    margin-left: 62px;
    padding-left: 80px;
    padding-top: 122px;
    color: #fff;
    background-color: var(--dark-grey);
}

.verbose-info__heading {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.verbose-info__address {
    width: 320px;
    line-height: 28px;
    margin-bottom: 22px;
}

.verbose-info__email {
    margin-bottom: 27px;
}